.schedule-create-container {
    width: 100%;
    margin: 0 auto;
}

.schedule-create-container h1 {
    text-align: center;
    margin-top: 20px; /* 원하는 여백으로 조정 가능 */
  }

.time-setting {
    padding: 30px;
    justify-content: space-between;
    margin-bottom: 20px;
}

.time-setting label { /* label이 차지하는 공간을 넓히도록 설정 */
    margin-right: 20px; /* label 요소 사이의 간격을 10px로 설정 */
}


.time-setting button { 
    margin-left: 20px; 
}


.time-label, .day-label {
    font-weight: bold;
    text-align: center;
}

.calendar-container p {
    text-align: center;
}
.schedule-grid {
    border-collapse: collapse;
    width: 100%;
    user-select: none; /* 텍스트 선택 방지 */
}

.grid-header {
    display: flex;
    font-weight: bold;
    justify-content: center; /* 중앙 정렬 */
}

.day-label {
    flex: 1; /* 각 열이 동일한 너비를 갖도록 설정 */
    text-align: center; /* 중앙 정렬 */
}

.time-row {
    display: flex;
}

.time-block {
    flex: 1;
    height: 40px; /* 기본 높이 설정 */
    background-color: #ccc; /* 기본 회색 배경 */
    border: 2px solid #ddd;
    cursor: pointer;
}

/* 선택 시 하얀색으로 변경 */
.time-block.selected {
    background-color: #fff; 
}

/* 드래그할 때 색상 변화 */
.time-block:hover {
    background-color: #bbb; 
}

/* 30분 단위 설정 시 높이 줄이기 */
.time-row.half-hour {
    height: 20px; /* 행 높이 */
}