html, body {
  height: 100%; /* HTML과 BODY 높이를 100%로 설정 */
  margin: 0; /* 기본 마진 제거 */
}

.home-container {
    font-family: 'Arial', sans-serif;
    display: flex; /* Flexbox 사용 */
    flex-direction: column; /* 수직으로 정렬 */
    min-height: 100vh;
  }
  
  .main-content {
    flex-grow: 1;
    text-align: center;
    padding: 100px;
  }
  
  .icon-text {
    display: flex;
    align-items: center; /* 아이콘과 문구를 수직으로 중앙 정렬 */
  }
  
  .icon {
    font-size: 36px; /* 아이콘 크기 설정 */
    margin-right: 10px; /* 아이콘과 텍스트 사이 간격 설정 */
  }
  
  .main-content h1 {
    font-size: 36px;
    color: #52b2d5;
    margin: 0;
    display: inline-block;
  }
  
  .main-content p {
    font-size: 18px;
    margin-top: 30px;
  }
  
  .cta-button {
    background-color: #52b2d5;
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .footer {
    background-color: #F3F4F6;
    padding: 20px;
    text-align: center;
  }