/* 네비게이션 바 스타일 */
.nav_shedule_page {
    position: fixed; /* 상단 고정 */
    top: 0;
    left: 0;
    width: 100%; /* 전체 화면 너비 */
    height: 100px; /* 고정된 높이 설정 */
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    background-color: #52b2d5;
    padding: 0 20px;
    margin-bottom: 20px; /* 네비게이션 바 아래 여백 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
    z-index: 1000; /* 다른 요소보다 위에 배치 */
  }
  