.schedule-write-container h1 {
  text-align: center;
  margin-top: 20px;
}

.write_main-content {
  display: flex;  /* Flexbox 사용 */
  flex-direction: row;  /* 가로 방향으로 배치 */
  padding: 30px 40px;
  gap: 20px;  /* 요소들 사이의 간격 */
}

.priority_dropdown {
  width: 200px;  /* 드롭다운 영역의 너비 */
  flex-shrink: 0;  /* 크기 고정 */
  margin-top: 50px;  /* 상단 여백 */
}

.priority_dropdown select {
  width: 100%;
  margin-top: 10px;
  margin-left: 3px;
  padding: 8px;
  height: 40px;
}

.write_calendar-container {
  flex: 1;  /* 남은 공간 모두 차지 */
  min-width: 0;  /* Flexbox 버그 방지 */
}

.fc .fc-day {
  background-color: #d3d3d3; 
}

.fc-day-today {
  background-color: #d3d3d3 !important; 
}

.fc .fc-col-header-cell {
  background-color: #ffffff !important; 
}

.whiteBackground .fc-timegrid-slot {
  background-color: #ffffff !important; 
}